<html>
    <head>
        <title> Login </title>
        <style>
            body {
                margin-top: 200px;
                text-align: center;
                background-image: url("https://wallpaperaccess.com/full/123346.jpg");
                background-size: cover;
            }
            .pass {
                margin-top: 10px;
            }
            .click {
                margin-top: 20px;
            }
        </style>
    </head>

    <body>
        <h1>Fill your information below</h1>
        <form method="POST">
            Username <input type="text" name="Username">
            <br>
            Password <input type="password" name="Password" class="pass">
            <br>
            <button type="submit" class="click">Login</button>
        </form>
    </body>
</html>