<html>
    <head>
        <title>Release :( </title>
        <style>
            body {
                text-align: center;
                margin-top: 230px;
                background-image: url("https://i.pinimg.com/originals/50/47/a2/5047a20758ab84f941e7ceaced791ef9.jpg");
                background-size: cover;
            }
            a {
                color: whitesmoke;
            }
        </style>
    </head>

    <body>
        <h1> Your account has been released</h1>
        <a href="/login"> Back to login page </a>
    </body>
</html>