<html>
    <head>
        <title>Update </title>
        <style>
            body {
                text-align: center;
                margin-top: 230px;
                background-image: url("https://1.bp.blogspot.com/-4ZH2iZN2MSE/XPyB9KcNifI/AAAAAAAADn0/O0TdofL2GIcD76t82cuY1P0mRaH65L4ZQCLcBGAs/s1600/Sky%2Bfree%2Bstock%2Bimages%2Bfull%2Bhd%2Bdownload%2Bnow.jpg");
                background-size: cover;
            }
            .click {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <h1> Update Zone : {{.Username}} </h1>
        <form method="POST">
            Your New PhoneNumber <input type="text" name="New PhoneNumber" placeholder="0123456789">
            <br>
            Your New Password <input type="password" name="New Password" placeholder="sth fun">
            <br>
            <button type="submit" class="click">Update</button>
        </form>
    </body>
</html>