<html>
    <head>
        <title>WELCOME!</title>
        <style>
            body {
                text-align: center;
                margin-top: 200px;
                background-image: url("https://cdn.wallpapersafari.com/6/63/LcAjPC.jpg");
                background-size: cover;
            }
            h1 {
                font-family: 'Times New Roman', Times, serif;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Welcome home {{.Username}}</h1>
        <a href = "/update">Update your account?</a>
    </body>
</html>